* {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
}

#navigation {
  float: left;
  border: 1px solid black;
  width: 10%;
}

#navigation ul {
  list-style-type: none;
}

h1 {
  display: none;
}

 h2 {
  display: none;
}

#content {
  background-color: yellow;
  float: left;
  width: 89%;
}

.error {
  background-color: red;
}

.category {
  margin-bottom: 5px;
}

.name {
  /*display: block;*/
  font-weight: bold;
}

.product {
  clear: both;
}

.description {

}

.product img {
  float: left;
  margin-bottom: 10px;
}

.product h3.description {
  margin-top: 5px;
}

#order-form input {
  display: block;
  margin-bottom: 5px;
}

#order-form textarea {
  display: block;
  margin-bottom: 5px;
}

#order-form fieldset {
  margin-bottom: 5px;
}

#order-form fieldset legend {
  font-weight: bold;
}